body {
	height: 2000px;
	margin: 0;
}

.parallax-window {
	width: 1342px;
	height: 900px;
}

nav {
	position: absolute;
	top: 50px;
	left:100px;
}
nav ul {
	list-style: none;
	margin-top: 50px;
	margin-left: 290px;
	padding: 0;
	width: 1200px;
}

nav li {
	font-family: futura;
	font-size: 20px;
	text-decoration: none;
	display: inline-block;
}

nav li a{
	text-decoration: none;
	color: #fff;
	margin-right: 50px;	
}
nav li a:hover {
	color:#f04e4f;
}

 #logo {
 	border: none;
 
 }

 p3 {
 	font-size: 80px;
 	border: solid white 5px;
 	font-family: futura;
 	color: #fff;
 	text-align: center;
 	position: absolute;
 	top:360px;
 	left:500px;

 }

 webkit-keyframes arrow {
	0 % {top: 0px;}
	50% {top: -150px;}
	100% {top: 0px;}
}

.arrow {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left:-20px;
  width: 40px;
  height: 40px;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNi4wLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iNTEycHgiIGhlaWdodD0iNTEycHgiIHZpZXdCb3g9IjAgMCA1MTIgNTEyIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA1MTIgNTEyIiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxwYXRoIGZpbGw9IiNGRkZGRkYiIGQ9Ik0yOTMuNzUxLDQ1NS44NjhjLTIwLjE4MSwyMC4xNzktNTMuMTY1LDE5LjkxMy03My42NzMtMC41OTVsMCwwYy0yMC41MDgtMjAuNTA4LTIwLjc3My01My40OTMtMC41OTQtNzMuNjcyICBsMTg5Ljk5OS0xOTBjMjAuMTc4LTIwLjE3OCw1My4xNjQtMTkuOTEzLDczLjY3MiwwLjU5NWwwLDBjMjAuNTA4LDIwLjUwOSwyMC43NzIsNTMuNDkyLDAuNTk1LDczLjY3MUwyOTMuNzUxLDQ1NS44Njh6Ii8+DQo8cGF0aCBmaWxsPSIjRkZGRkZGIiBkPSJNMjIwLjI0OSw0NTUuODY4YzIwLjE4LDIwLjE3OSw1My4xNjQsMTkuOTEzLDczLjY3Mi0wLjU5NWwwLDBjMjAuNTA5LTIwLjUwOCwyMC43NzQtNTMuNDkzLDAuNTk2LTczLjY3MiAgbC0xOTAtMTkwYy0yMC4xNzgtMjAuMTc4LTUzLjE2NC0xOS45MTMtNzMuNjcxLDAuNTk1bDAsMGMtMjAuNTA4LDIwLjUwOS0yMC43NzIsNTMuNDkyLTAuNTk1LDczLjY3MUwyMjAuMjQ5LDQ1NS44Njh6Ii8+DQo8L3N2Zz4=);
  background-size: contain;
  -webkit-animation: arrow 2s;
}
#box {
	position: absolute;
	height: 700px;
	width: 1024px;
	top:1000px;
	left:156px;
	background-color: #fff;
	opacity: .80;
	z-index:100;
}

p4 {
	font-size: 20px;
 	font-family: futura;
 	color: #ac1f24;
 	text-align: center;
 	position: absolute;
 	top: 120px;
 	left: 250px;
 	width: 500px;
 	height: 110px;
 	padding-left: 15px;
 	padding-right:15px;
 	padding-top: 15px;
 	padding-bottom: 15px;
}

p5 {
	font-size: 16px;
 	font-family: futura;
 	color: #f04e4f;
 	text-align: center;
 	position: absolute;
 	top: 120px;
 	right:1px;
 }

 #button1 {
 	position: absolute;
 	top: 140px;
 }
 #button1:hover {
 	opacity: .80;
 }
 #button2 {
 	position: absolute;
 	left: 200px;
 	top: 140px;
 }
  #button2:hover {
 	opacity: .80; 
 }
 #button3 {
 	position: absolute;
 	left: 400px;
 	top: 140px;
 }
  #button3:hover {
 	opacity: .80;
 }
 #panda {
 	position:absolute;
 	top: 250px;
 	left: 175px;
 }

#mtn1 {
	position: absolute;
	top:610px;
}

#mtn2 {
	position: absolute;
	top:620px;
}

#mtn3 {
	position: absolute;
	top:1100px;
}

#footer {
	position:absolute;
	top: 1210px;
}

#socialmedia {

position:absolute;
top:1970px;
left:570px;
padding: 0;
}

p2 {
	font-size: 20px;
 	font-family: futura;
 	color: #fff;
 	text-align: center;
 	position: absolute;
 	top:2060px;
 	left:570px;
}